[core]
	excludesfile = /Users/hihats/.gitignore_global
	editor = vim
[user]
	name = hihats
	email = h_tsukamoto@innovation.co.jp
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	br = branch
	ch = checkout
	st = status
