[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
	name = Hisahiro Tsukamoto
	email = hishats@gmail.com
[color]
	ui = true
[diff]
	tool = nvimdiff
[alias]
	br = branch
	ch = checkout
	st = status
	push-f = push --force-with-lease
	chpick = cherry-pick
	pushf = push --force-with-lease
[merge]
	tool = nvimdiff
[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
