[core]
	excludesfile = /Users/hihats/.gitignore_global
	editor = vim
[user]
	name = Hisahiro Tsukamoto
	email = hishats@gmail.com
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/hihats/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	br = branch
	ch = checkout
	st = status
	push-f = push --force-with-lease
	chpick = cherry-pick
	pushf = push --force-with-lease
[merge]
	tool = vimdiff
[credential]
	helper = osxkeychain
